$color_light_black: #212121;
$color_coral: #EC7979;
$color_dark_coral: #AB4949;
$color_light_grey: #86878B;
$color_dark_grey: #333333;
$color_dark_black: #000000;
$color_white: #FFFFFF;
$color_latte: #F8EFEF;
$color_tab-border: #C6CBCD;
$color_bg_grey: #F5F5F5;
$color_pricing_grey: rgba(255, 255, 255, 0.5);
$color_reviews_grey: #E2E2E2;